.mainframe {
  display: grid;
  width: auto;
  height: auto;
  max-width: 500px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);

  .btn {
    height: 5rem;
    width: 7rem;
    border: 1px $result-bg solid;
    box-sizing: border-box;
  }

  .orange {
    background-color: $right-bg;
  }

  .result {
    grid-area: 1 / 1 / 1 / 5;
    background-color: $result-bg;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 1rem;
    color: $result-color;
    font-size: 2rem;
  }

  .btn0 {
    grid-area: 6 / 1 / 7 / 3;
    border: 1px $result-bg solid;
    box-sizing: border-box;
  }
}
